* {
  box-sizing: border-box;
}

body {
  background-color: #101d30;
  margin: 0;
  padding: 0;
  height: 100vh;
}

nav {
  height: 4rem;
  background-color: #1d3457;
  display: flex;
  justify-content: center;
  align-items: center;

  .add {
    display: inline;
    background-color: #5ba36a;
    color: black;
    padding: 2px 6px 4px 6px;
    height: 24px;
    /* width: 24px; */
    border: 1px solid #000;
    border-radius: 8px;
  }

  .add:hover {
    background-color: #19fc7c;
    border: 1px solid #fff;
  }
}

.all-books {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.book {
  height: 160px;
  width: 160px;
  border-radius: 5px;
  padding: 10px;
  background-color: #2e548a;

  font-size: 18px;

  select {
    cursor: pointer;
  }

  p {
    padding: 0;
    margin: 6px 0;
    font-size: 14px;
  }
}

.delete {
  background-color: indianred;
  margin-right: 8px;
  height: 16px;
  width: 20px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightpink;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.4ms;
}

.delete:hover {
  background-color: palevioletred;
  height: 18px;
  width: 22px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin: 16px 0;
    margin-left: 16px;
  }

  input {
    display: block;
  }

  label[for="read"] {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }
}

dialog {
  border-color: #2e548a;
  border-radius: 8px;
}
